#logoNavbar{
    max-height: 60px;
}

#navMain1{
    background-color: red;
}

#mainBar{
    background-color: white;
    border-bottom: 3px solid #0000fa; 
}

main{
    font-family: 'Oswald', sans-serif;
}

#mainText{
    color: #0000fa;
}

#mainText:hover{
    cursor: pointer;
}

    .nonAM{
        color: inherit;
    }

    .nonAM:hover{
        pointer-events: none;
        text-decoration: none;
            }

.carImg{
    max-height: 450px;
}

nav{
    top: 0;
    height: 70px;
}


.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: lightblue;
    border-bottom: 0;
    margin-bottom: 0;
  }

  .footercontent{
      height: 42px;
      width: 100%;
  }

main{
    font-family: 'Oswald', sans-serif;
}

.carImg{
    max-height: 450px;
}

.contactIco{
    height: 24px;
}

.card{
    width: 22%;
    text-align: center;
    height: 80px;
}

.card:hover{
cursor: pointer;
border-color: blue;}

.container-fluid{
    min-height: calc( 100vh - 62px - 60px);
}

  .nonA {
    color: inherit;
    text-decoration: none;
}

a:hover 
{
    font-weight: bolder;
     text-decoration:none; 
     cursor:pointer;  
}

#bottom{
    background-color: lightgrey;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    width: 100%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

  .nomeProduto{
      font-weight: bolder;
  }

  .imgProdutos{
      height: 200px;
  }

  .imagemProdutos{
      height: 350px;
  }